@charset "utf-8";

article{
    padding:100px 100px;
    display:block; width:500px; margin:0 auto;
    text-align:center; 
    background:#55ff55;
}
h2, p{text-align:center; }

h2{font-size:28px; text-transform:uppercase;}
