@charset "utf-8";

/* .slides > li {position:relative;} */ /* 이미지위 타이포그라피 div위치용 */

.fs-itemBg1{background:url('../imgs/slide1.png') no-repeat center center;background-size:cover;}
.fs-itemBg2{background:url('../imgs/slide2.png') no-repeat center center;background-size:cover;}
.fs-itemBg3{background:url('../imgs/slide3.png') no-repeat center center;background-size:cover;}

/* i.bi{font-size:38px; color:rgba(11, 0, 92,.7);} */ /* 좌우내비 아이콘 부트스트랩 <i> 이용시사용 */

@media screen and (min-width:1050px) {
    .fs-itemBg{height:450px;}
}

@media screen and (min-width:700px) and (max-width:1049px){
    .fs-itemBg{height:600px;}
}

@media screen and (max-width:699px){
    .fs-itemBg{height:100vh;}
}