@charset "utf-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.fs-itemBg1{background:url('../imgs/slide1.png') no-repeat center center / cover ;}
.fs-itemBg2{background:url('../imgs/slide2.png') no-repeat center center / cover ;}
.fs-itemBg3{background:url('../imgs/slide3.png') no-repeat center center / cover ;}

@media screen and (min-width:1050px){
section{ width:1000px;height:490px;margin:0 auto;}
.fs-itemBg{height:450px;}
}

@media screen and (min-width:700px) and (max-width:1049px){
    body{background:none;}
    section{ width:100%;height:600px;margin:50px auto;}
    .fs-itemBg{height:600px;}
}

@media screen and (max-width:699px){
    .fs-itemBg{height:100vh;}

}

